footer {
    padding: 45px;
    background: #0D123C;
}

@media (max-width: 1050px) {
    footer {
        padding: 30px 20px;
    }
}

@media (max-width: 992px) {
    footer {
        padding: 30px 20px 30px 50px;
    }
}

@media (max-width: 340px) {
    footer {
        padding: 0 10px;
    }
}

.footer {
    border-bottom: 1px solid #D3DAD7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 85px;
    opacity: 0.5;
    padding-bottom: 35px;
}

@media (max-width: 1050px) {
    .footer {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
    }
}

.footer_wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: end;
    gap: 73px;
}

@media (max-width: 1050px) {
    .footer_wrapper {
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 50px;
    }
}

.footer_logo_text {
    margin-top: 25px;
    width: 287px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
}

.footer_list_item {
    margin-top: 30px;
}

.footer_title {
    margin: 70px 0 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_list_item {
    list-style: none;
    margin-top: 9px;
}

.footer_list_last {
    margin-top: 42px;
}

.footer_link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.3s color;
}

.footer_link:hover {
    color: white;
}

.footer_bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-weight: 400;
    line-height: 19.5px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 35px 0 0 0;
}

@media (max-width: 768px) {
    .footer_bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 30px;
        text-align: center;
    }
}

.copy_img {
    margin-right: 10px;
}

.social {
    margin-left: 10px;
}

.social a {
    text-decoration: none;
    margin-right: 34px;
}