.btn {
    display: block;
    font-family: "Europa";
    font-size: 16px;
    line-height: 150%;
    padding: 14px 32px;
    border-radius: 6px;
    letter-spacing: 0.005em;
    text-decoration: none;
    border: none;
}

.btn_warning {
    color: #FFFFFF;
    background: #BF0830;
}

.btn_warning:hover {
    background: #f00a3c;
}

.btn_notbackground {
    color: #BF0830;
    background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
    border: 1px solid #BF0830;
}

.btn_notbackground:hover {
    background: #cccccc;
}